<div style="width:30%;">
  <h4> Search</h4>
  <div class="input_form">
    <div style="margin:2px 5px;"><strong>Input text:</strong></div>
    <div class="input_text"> 
      Please enter the text.
    </div>
    <div class="filter_box">
      <span><a href="#">Filters</a></span>
      <div class="filters"></div>
    </div>
    <div class="submit_box">
      <span style="float:right"><input type="submit" value="Investigate"/></span>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>
</div>

