html,body{font-family: Helvetica, Arial, sans-serif;text-align:center;font-size:13px;color:#646464;}
html,body,p,ul,li,img{margin:0px;padding:0px;border:none}
h1{font-size: 2.5em;line-height: 1em;margin: 0.6em 0 .2em;font-weight: bold;}
h2 {font-size: 2.1428em;line-height: 1em;margin: 0.7em 0 .2333em;font-weight: bold;}
h3 {font-size: 1.4142em;line-height: 1.286em;margin: 0.875em 0 0.2916em;font-weight: bold;}
h4 {font-size: 1.2857em;line-height: 1.2em;margin: 1.6667em 0 .3887em;font-weight: bold;}
h5 {font-size: 1em;line-height: 1.5em;margin: 1em 0 .5em;font-weight: bold;}
h6 {font-size: 1em;line-height: 1.5em;margin: 1em 0 .5em;font-weight: normal;}


ol li{margin:4px 0px 4px 0px;}
.upload{border:4px solid gray;}
textarea{border:1px solid #bcbcbd;}
.clear{clear:both;margin-top:-1px;height:1px;overflow:hidden;}
a{color: #414a8a;text-decoration:none;}
body {text-align: center;}
.header{width:100%;border-bottom:1px solid #e0e0e0;margin-top:58px}
.logo {float:left;position:absolute;top:5px;left:5px;}
.logo img{height:100px;}
.header ul{float:right;margin-right:100px;padding:6px;}
.header .header_menu li{list-style:none;padding:3px;display:inline;margin-right:6px;background:#ab3334;color:#fff}
.header .header_menu li a{color:#fff};
.container {margin:1px auto;text-align:center} 
.container .left{float:left;width:30%;text-align:left;margin:25px 0px 0px 10px}
.container .right{float:right;width:67%;text-align:left;}
.footer{border-top:2px solid #a8aaab;color:#525455;text-align:center;margin:0px;margin-top:20px; padding:7px;font-size:11px;background:#d9dadb}
.heading{margin-top:16px;}

.input_form{background:#e0eefc;text-align:left;padding:5px 0px 0px 0px;margin-right:5px}
.input_form .input_text{clear:both;padding:5px;}
.input_form .submit_box{padding:3px 6px;background:#b5d7f4;text-align:center}
.input_form .filter_box{padding:5px;display:none;}
.input_form .filter_box .filter{padding:5px;clear:both;margin:3px 0px}
.input_form .filter_box .filter .label{float:left;width:85px;line-height:20px;}
.input_form .filter_box .filter .widget{float:left;width:150px;}
#word-length{width:100px;}
span.highlight{background:yellow}
.ngrams_list{float:left;text-align:left;width:100%}
.ngrams_list .ngram_box{margin:4px 0px;border-bottom:1px solid #e0e0e0}
.ngrams_list .ngram_box .title_box{padding:5px;}
.ngrams_list .ngram_box .documents_box{}
ul.doc_list li{list-style:none;padding:3px;}



/* TABLES */
table {width:100%; margin: auto;}
td, th { font-size:12px; line-height:13px; border-bottom:1px solid #eee; vertical-align:top; padding:5px;}
th { text-align:left; font-size:12px; font-weight:bold; }
thead th, 
tfoot td { color:#666; padding:2px 5px; font-size:11px; background:#e1e1e1 url(../images/nav-bg.gif) top left repeat-x; border-left:1px solid #ddd; border-bottom:1px solid #ddd; }
tfoot td { border-bottom:none; border-top:1px solid #ddd; }
thead th:first-child, 
tfoot td:first-child { border-left:none !important; }
thead th.optional { font-weight:normal !important; }
fieldset table { border-right:1px solid #eee; }
tr.row-label td { font-size:9px; padding-top:2px; padding-bottom:0; border-bottom:none; color:#666; margin-top:-1px; }
tr.alt { background:#f6f6f6; }
.row1 { background:#EDF3FE; }
.row2 { background:white; }
