<div class="logo">
  <%= link_to(image_tag("MWlogo.png"),root_url)%>
</div>


<div class="header">
      <ul class="header_menu">
        <li class="index"><%=link_to("Corpora",corpora_index_path)%></li>
        <li class="index"><%=link_to("About us",root_url)%></li>
        <li class="index"><%=link_to("Help",root_url)%></li>
      </ul>
      <div class="clear"></div>
</div>

