<div id="doc2" class="yui-t7"> 
  <div id="hd" role="banner"> 

<div id="navcontainer"> 
  <ul id="navlist"> 
    <li id="active"><a href="#" id="current">Home</a></li> 
    <li><a href="#">About</a></li> 
    <li><a href="#">Corpora</a></li> 
    <li><a href="#">Methodology</a></li> 
    <li><a href="#">Contact Us</a></li> 
  </ul> 
</div> 

<img src="/images/MWlogo.png" width="259" height="125" alt="MWlogo LogoSmall" id="logo"> 
</div> 
