<div class="left " style="width:20%">
  <ul>
    <li>About the project</li>
    <li>Team</li>
    <li>Partners</li>
  </ul>
</div>

<div class="left" style="width:60%;font-size:13px;line-height:17px;">
<p>About the Project</p>
<p>
With recent progress toward more transparent government systems in the United States, new problems arise around how citizens can meaningfully engage and understand such a huge quantity of raw, and often context-less data. By extension, the new challenge isn't just finding the needle in the haystack, it's finding patterns that bind together individuals, organizations, and policy.
</p>
<p>
A common public sentiment is that the political process is ruled simply by polling trends and money. In contrast, our goal is to bring light to the knowledge sharing process which exists inside the beltway, and to partially expose the transference of talking points, and highlighting organizations that are particularly influential.
</p>
<p>
For example, in November of 2009, journalist Robert Pear of the New York Times revealed an instance where some 42 members of Congress used text derived from a Roche/Genentech lobbying email in their comments to the Congressional Record. In this case, manual comparisons were performed between the emails provided by Genentech, and the Congressional Record, requiring Pear to intelligently target his search against a particular set of data.
</p>
<p>
As a result, our project seeks to reveal statistical relationships between the language used in influential text in the media, corporate position papers, and think tank publications, and to highlight the subsequent propagation of this text to the congressional record. Informed by qualitative interviews with journalists, researchers, and professionals in the field of open government, the result of our computational system will be a dynamic web interface built for a mainstream audience, offering meaningful visualization and categorization of our results.
</p>
</div>
