<div class="left " style="width:20%">
  <ul class="sub_menu">
    <li>About the project</li>
    <li><%=link_to('Team', team_home_path)%></li>
  </ul>
</div>

<div class="left aboutus_page" style="width:60%;font-size:13px;line-height:17px;">

<p style="font-size:15px;font-weight:bold">Welcome to MigratoryWords.com</p><br/>
<p>
This website if an evolving proof-of-concept that represents the culminating effort of four graduate students at the University of California’s, School of Information. It was developed over one semester as we explored the interdisciplinary intersection of political, social, information, and computer sciences.
</p>

<p>
Our problem space focuses on the applied process of investigative research as performed by journalists and researchers who scrutinize the domain of American public policy and political gamesmanship. Specifically, we emphasize the role of political language and its ability to express flows of intellectual influence.
</p>

<p>
Our goal is to discover methods to identify this influential language through natural language processing tools and customized search. 
</p>
<p>
Currently the system allows any user to query a massive index of text documents from multiple knowledge sources to get a broad sense of language’s role in shaping the evolution of policy and to help track the historical shifts in legislative discussion. 
</p>
<br/>
<br/>
<p>
<b>With regard to Fair Use:</b><br/>
This project applied principles of fair use toward our indexing of publicly distributed works. Our efforts are not-for-profit and we have very specific research motivations. All cached content is displayed in a method similar to Google where we show appropriate context for our users and provide a link back to the original source so the user can explore further. We believe our application is transformative and a valuable contribution to social, political, and professional discussion. We hope that is helps citizens to gather greater insight into the expression of political influence in American governance.
</p>
<br/>
<br/>
<b>With regard to Intelectual Property:</b><br/>
<p>
Our efforts seek greater distribution of rights-holder content. We make attempts to display information accurately and we expect our users to do further research when undertaking the inquiry. 
<br/>
Making informed arguments using our data alone is not recommended. Always apply due diligence and keep journalism strong.
<br/>
If you are a rights holder and wish to have your content removed from our index, please contact us <strong>migratorywords@gmail.com</strong>
</p>

</div>
