
<div class="left " style="width:100%">
  <p style="font-size:15px;font-weight:bold;margin:10px 0px">
  <span>Our Methodology</span>
  <span style="float:right;margin-right:95px;"><%=link_to('Project report', '/images/MIMS_FinalProject_MigratoryWords.pdf')%></span>
  </p>
  <img src="/images/methodSlide.png"/>
</div>
