<% content_for :js do -%><%= javascript_include_tag "front" %><% end -%>
<div class="left about_us">
  <p class="heading">About us</p>
  <p class="content">
    With recent progress toward more transparent government systems in the United States, new problems arise around how citizens can meaningfully engage and understand such a huge quantity of raw, and often context-less data. By extension, the new challenge isn't just finding the needle in the haystack, it's finding patterns that bind together individuals, organizations, and policy.
  </p>
</div>
<div class="center">
  <%= render :partial=>"/shared/search_form",:locals=>{:corpora=>@corpora}%>
</div>
<div class="right favt_grams">
  <p class="heading">Favorite ngrams</p>
    <ul>
      <% @fav_ngrams.each do |f| %>
      <li><%= link_to f.gram_text.capitalize, ngram_detail_ngrams_path(:ngram_text=>f.gram_text, :doc_count=>f.count.to_s)%></li>
      <% end %>
    </ul>
</div>
