<% content_for :js do -%><%= javascript_include_tag "front" %><% end -%>

<div class="left" style="width:30%;">
  <%= render :partial=>"/shared/search_form", :locals=>{:corpora=>@corpora}-%>
</div>
<div>
  <div id="test_map"></div>
  <div id="context_docs_table"></div>
</div>
<!-- The right side -->
<div class="right" style="width:65%;margin:0px 10px">
  <h4> <%="#{@results['ngrams'].count} ngrams found"%></h4>

  <div class="ngrams_list">
    <% @results['ngrams'].each_with_index do |ngram,index| %>
      <%= render :partial=>"ngram_box", :locals=>{:ngram=>ngram,:index=>index}-%>
    <% end %>
  </div>
</div>
