<div class="left" style="width:30%;">
  <ul>
    <% for c in @corpora -%>
      <li><a href="/top/<%= c.name %>"><%= c.long_name %></a></li>
    <% end -%>
  </ul>
</div>
<!-- The right side -->
<div class="right" style="width:65%;margin:0px 10px">
  <h4>Top 1000 Ngrams in "<%= @current_corpus.long_name %>" corpus</h4>

  <div class="ngrams_list">
    <% @results['ngrams'].each_with_index do |ngram,index| %>
      <%= render :partial=>"home/ngram_box", :locals=>{:ngram=>ngram,:index=>index}-%>
    <% end %>
  </div>
</div>
