<% content_for :js do -%>
  <%= "<script type='text/javascript'>$(document).ready(function(){show_treemap(true)});</script> "%>
<% end -%>

<div class="left" style="width:100%;margin:0px 10px">

  <h4>Migratory Word Corpora</h4> 
  <div class="top_grams" style="width:999px">
    <p class="heading">
    <span style="font-size:15px;">
      <!--Total documents : <%=@corpora.inject(0){|a,e| a = a+e.doc_count} %>-->
      1153980 documents in 19 corpora
    </span>
    <span style="float:right;margin-left:10px;">
      <input type="radio" name="g" value="dt" onclick="show_treemap(false)"/>Document count 
    </span>
    <span style="float:right;">
      <input type="radio" name="g" value="de" onclick="show_treemap(true)" checked/>Document size
    </span>
    </p>
  </div>

<div id="corpora_map"></div>
    <!--
    <div>
    <table style="border:1px solid #666">
        <thead>
        <tr>
            <th>Corpus</th>
            <th># Documents</th>
            <th>Type</th>
            <th>Source</th>
            <th>Start date</th>
            <th>End date</th>
        </tr>
        </thead>
        <%@corpora.each do |corpus|%>
            <%="<tr>
                <td>#{link_to(corpus.long_name, corpora_documents_path(corpus))}</td>
                <td>#{corpus.doc_count}</td>
                <td>#{corpus.corpus_type}</td>
                <td>Source</td>
                <td>#{corpus.start_date}</td>
                <td>#{corpus.end_date}</td>
            </tr>"%>
        <%end%>
    </table>
    </div>
    -->
</div>
