<div class="left">
    <h4>Corpora</h4>
    <div id="corpora_map" style="width:700px"></div>
    <div style="width:900px">
    <table style="border:1px solid #666">
        <thead>
        <tr>
            <th>Corpus</th>
            <th># Documents</th>
            <th>Type</th>
            <th>Source</th>
            <th>Start date</th>
            <th>End date</th>
        </tr>
        </thead>
        <%@corpora.each do |corpus|%>
            <%="<tr>
                <td>#{link_to(corpus.long_name, corpora_documents_path(corpus))}</td>
                <td>#{corpus.doc_count}</td>
                <td>#{corpus.corpus_type}</td>
                <td>source</td>
                <td>start_date</td>
                <td>end_date</td>
            </tr>"%>
        <%end%>
    </table>
    </div>
</div>




